@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;300;500&family=Barlow+Semi+Condensed:wght@200;500&family=Comfortaa:wght@300;700&family=Cookie&family=Hurricane&family=Inspiration&family=Lato:wght@100;400;700&family=Lobster&family=Merriweather:wght@300;700;900&family=Montserrat:wght@200;400;500&family=Old+Standard+TT&family=Orelega+One&family=Oswald:wght@200;400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Satisfy&family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;300;500&family=Barlow+Semi+Condensed:wght@200;500&family=Comfortaa:wght@300;700&family=Cookie&family=Hurricane&family=Inspiration&family=Lato:wght@100;400;700&family=Lobster&family=Merriweather:wght@300;700;900&family=Montserrat:wght@200;400;500&family=Old+Standard+TT&family=Orelega+One&family=Oswald:wght@200;400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Satisfy&family=Tai+Heritage+Pro&display=swap');

.hero-container{
    min-height: 100vh;
    width: 100%;
    background: #FFE433;
}

.hero-img{
    height: 500px;
    width: 700px ;
}

.hero-info{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

.hero-col-1{
    width: 60%;
}

.hero-col-2{
    width: 40%;
}

.hero-text{
    margin-top: 80px;
    text-align: left;
}

.hero-text h2{
    font-size: 65px;
    font-family: 'Old Standard TT', serif;
    padding-bottom: 30px;
}

.hero-text h4{
    font-size: 19px;
    padding-bottom: 30px;
}

.hero-text p {
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 780px){
    .hero-info{
        flex-direction: column;
    }

    .hero-col-1{
        width: 100%;
        margin-bottom: 0px;
    }
    
    .hero-col-2{
        width: 100%;
        text-align:center;
    }

    .hero-img{
        height: 300px;
        /* Note: We are using "%" for width and not "px" because
        it makes the image responsive in terms of width. 
        We are using "width: 90% ;" because we have given "width: 100%;"
        for "hero-col-1" for small screen devices
        */
        width: 90% ;
        margin-left:auto;
        margin-right:auto;
        display: block;
    }

    .hero-text h2{
        font-size: 45px;
        padding-bottom: 5px;
    }

    .hero-text h4{
        font-size: 18px;
        padding-bottom: 5px;
    }

    .hero-text{
        margin-top: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    

}