@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;300;500&family=Barlow+Semi+Condensed:wght@200;500&family=Comfortaa:wght@300;700&family=Hurricane&family=Inspiration&family=Lato:wght@100;400;700&family=Lobster&family=Merriweather:wght@300;700;900&family=Montserrat:wght@200;400;500&family=Orelega+One&family=Oswald:wght@200;400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Satisfy&family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;300;500&family=Barlow+Semi+Condensed:wght@200;500&family=Comfortaa:wght@300;700&family=Cookie&family=Hurricane&family=Inspiration&family=Lato:wght@100;400;700&family=Lobster&family=Merriweather:wght@300;700;900&family=Montserrat:wght@200;400;500&family=Orelega+One&family=Oswald:wght@200;400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Satisfy&family=Tai+Heritage+Pro&display=swap');


.navbar-container{
    height: 75px;
    width: 100%; 
    background-color: #FFE433;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 40px;
    margin-left: 30px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Cookie', cursive;
    letter-spacing: 5px;
}

.nav-items{
    margin-right: 30px;
    display: flex;
}

.nav-links{
    list-style-type: none;
    margin: 10px;
}

.link{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}

.link:hover{
    border-bottom: 2px solid black;
}

.hamburger{
    display:none;
}

@media screen and (max-width:780px){
    .nav-items{
        display: none;
    }

    .hamburger{
        display:block;
        margin-right: 30px;
    }

    .nav-items-mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: greenyellow;
        position: absolute;
        margin-top: 260px;
        justify-content: center;
        align-items: center;
    }
}